.widget_title:after {
    right: 0;
    left: auto;
}
.widget_nav_menu a, .widget_meta a, .widget_pages a {
    padding-left: 20px;
    padding-right: 0;
}
.footer-layout1 .footer-menu-area .footer-menu-list li a:before {
    margin-left: 10px;
    margin-right: 0;
}